<h1>INFERNO AIRLINES</h1>

<h2>Welcome to hell-in-the-air</h2>

<h4>You might be able to fly but we'll make sure you hate yourself for it</h4>

<h5>Below are the terms and conditions: </h5>
<ul>
  <li>We are not responsible for your safety</li>
  <li>If someone hacks our site, it's your fault</li>
  <li>Every man women and child for himself. It's a dog eat dog world.</li>
  <li>If the seat has been doubled booked, again it's your fault</li>
  <li>Money doesn't matter. We might have at terrible website but at least you fly for free</li>
</ul>

<nav>
<% unless @current_user.present? %>
  <button><%= link_to 'Login', login_path %></button> <button> <%= link_to 'Signup', new_user_path %> </button>
<% else %>
  <p>
    Welcome, <%= link_to @current_user.name, user_path(@current_user) %> |
    <%= link_to 'Logout', login_path, method: :delete %>
</p>
<% end %>
</nav>


<button>Go direct to flight</button>
