<h1>INFERNO AIRLINES</h1>

<h2>Welcome to hell-in-the-air</h2>

<h4>You might be able to fly but we'll make sure you hate yourself for it</h4>



<% unless @current_user.present? %>
  <button><%= link_to 'Login', login_path %></button> <button> <%= link_to 'Signup', new_user_path %> </button>
<% else %>
  <p>
    Welcome, <%= link_to @current_user.name, user_path(@current_user) %> |
    <%= link_to 'Logout', login_path, method: :delete %>
</p>
<% end %>
