<div id = "app">
  This is where the burning of the airlines should render and load the HTML.
</div>

<script type="html/tempalte" id ="AirplaneViewTemplate">
  <div id="AirplaneView">
    <h1>Make a new plane here and enter details</h1>
    <p>Name</p>
    <p>Rows</p>
    <p>Cols</p>
  </div>
</script>

<script type="html/template" id="ReservationViewTemplate">
  <div id="FlightView">
    <h1>Enter in the reservation details</h1>
      <p>Flight Number</p>
      <p>Seats free</p>
      <p>Select seat number</p>
  </div>
</script>

<script type="html/tempalte" id ="SearchViewTemplate">
<div id="SearchView">
  <h1>Search the flights for the
    <p>To</p>
    <p>From</p>
</div>
</script>
