<div id = "app">
  This is where the burning of the airlines should render and load the HTML.
</div>

<script type="html/javascript" id="AppViewTemplate">

  <h1>Inferno Airlines</h1>

  <div id="SearchView">
  </div>

  <table id="flights">
    <tr>
      <th>Flight Number</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </table>

</script>

<script type="html/template" id ="AirplaneViewTemplate">
  <div id="AirplaneView">
    <h1>Make a new plane here and enter details</h1>
    <p>Name</p>
    <p>Rows</p>
    <p>Cols</p>
  </div>
</script>

<script type="html/template" id="FlightViewTemplate">
  <td>{{ id }}</td>
  <td>{{ date }}</td>
  <td>{{ from }}</td>
  <td>{{ to }}</td>
</script>

<script type="html/template" id="ReservationViewTemplate">
  <div id="FlightView">
    <h1>Enter in the reservation details</h1>
      <p>Flight Number</p>
      <p>Seats free</p>
      <p>Select seat number</p>
  </div>
</script>

<script type="html/template" id ="SearchViewTemplate">

  <form class="SearchForm">
    From:
    <input id="from" type="text"/>
    To:
    <input id="to" type="text"/>
    <button>Search</button>
  </form>

</script>
