<div id = "app">
  <!-- This is where the burning of the airlines should render and load the HTML. -->

  <!-- hidden table -->


</div>


<!-- MAIN PAGE SEARCH TEMPLATE  -->
<script type="html/javascript" id="AppViewTemplate">


  <h1>Inferno Airlines</h1>

  <div id="SearchView">

  </div>


  <table id="searchFlights" style="display: none">
    <tr>
      <th>Flight Number</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </table>

  <div id="flightDetail">

  </div>

  <table id="reservations" style="display: none">
    <tr>
      <th>Flight Number</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Your Seat Reservation</th>
    </tr>

  </table>

</script>



<!-- TABLE FOR THE FLIGHT DETAILS  -->
<script type="html/template" id="FlightViewTemplate">
  <td>{{ id }}</td>
  <td>{{ date }}</td>
  <td>{{ from }}</td>
  <td>{{ to }}</td>
</script>



<!-- SEARCH TEMPLATE -->
<script type="html/template" id ="SearchViewTemplate">
  <div class="SearchForm">
    From:
    <input id="from" type="text"/>
    To:
    <input id="to" type="text"/>
    <button>Search</button>
  </div>
</script>


<!-- FLIGHT DETAILS TEMPLACE  -->
<script type="html/template" id="FlightDetailViewTemplate">
  <h1>Flight number: {{ id }}</h1>
  <h2>{{ date }}</h2>
  <h2>{{ from }}</h2>
  <h2>{{ to }}</h2>
  <h3>Seats left:  {{airplane.rows * airplane.columns -  reservations.length }}</h3>
  <h3>Capacity: {{airplane.rows * airplane.columns}}</h3>

  <button id="saveSeat">Save Seat</button>
  <div>
  </div>
</script>


<script type="html/template" id="ShowReservationTemplate">

    <td>{{ flight_id }}</td>
    <td>{{ flight.date }}</td>
    <td>{{ flight.from }}</td>
    <td>{{ flight.to }}</td>
    <td>{{ seat_no }}</td>

</script>
