// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


<<<<<<< HEAD
.seat{
=======

#seatPlanning td{
>>>>>>> e0893544965b5cc19db7961a690acc2ddd838834
  border: 1px solid black;
  background-color: pink;
  width:50px;
  height:50px;
}


.reserved{
  background-color: grey;

}

.selected{
  background: mediumaquamarine !important;
}
